<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.sjtek.client.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:name=".SjtekApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activities.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="sjtek.nl"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app"
                    android:scheme="sjtek" />
                <data
                    android:host="nl.sjtek.client.android"
                    android:scheme="android-app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityLogin"
            android:label="@string/sign_in_title"
            android:parentActivityName=".activities.ActivitySettings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivitySettings"
            android:label="@string/pref_title"
            android:parentActivityName=".activities.ActivityMain"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.SjtekWidgetProvider"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />
        </receiver>

        <service
            android:name=".services.CommandService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="nl.sjtek.client.android.ACTION_MUSIC_TOGGLE" />
                <action android:name="nl.sjtek.client.android.ACTION_MUSIC_NEXT" />
                <action android:name="nl.sjtek.client.android.ACTION_MUSIC_SWITCH" />
            </intent-filter>
        </service>
        <service
            android:name=".services.UpdateService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.AccountService"
            android:enabled="true"
            android:exported="false"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".activities.ActivityMusic"
            android:label="@string/card_music_title"
            android:parentActivityName=".activities.ActivityMain"
            android:theme="@style/AppTheme.CustomDialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.sjtek.client.android.activities.ActivityMain" />
        </activity>

        <service android:name=".services.WearListenerServices">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />

                <data
                    android:host="*"
                    android:path="/action"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.ScreenActivity"
            android:label="SjtekScreen" />

        <receiver
            android:name=".receiver.SleepReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.urbandroid.sleep.alarmclock.SLEEP_TRACKING_STARTED" />
                <action android:name="com.urbandroid.sleep.alarmclock.SLEEP_TRACKING_STOPPED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GeofenceIntentService"
            android:exported="false" />
        <service
            android:name=".services.SjtekService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>